.venv/
frontend/node_modules/
electron/node_modules/
__pycache__/
*.pyc
*.pyo
.git/
data/
static/
_ext_targets/
services/external_logs/
services/turnstile_solver/solver.log
account_manager.db
*.egg-info/
dist/
build/
account_manager.db
backend.stdout.log
backend.stderr.log
services/turnstile_solver/solver.log
smstome_used/
smstome_all_numbers.txt
smstome_uk_deep_numbers.txt
.env
